*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.item {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    background: white;
}

body {
    background: lightgray;
}

